{% extends "base.html" %}

{% block title %}
	Render Graph - Afterglow
{% endblock %}

{% block extra_head %}	
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery.miniColors.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/tipTip.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.miniColors.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipTip.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script>
{% endblock %}

{% block body %}

	{% if form.errors %}
		<div class="cRenderError"><span class="cErrorMsg">
			Please correct the error{{ form.errors|pluralize }} below.
		</div></span>
	{% endif %}

	<form enctype="multipart/form-data" method="post" action="process" id="renderMainForm">
		{% csrf_token %}
		
		<div class="field">
		
			<label>Source:</label>	
			<input type="radio" name="xLogType" checked="checked" value="data"/>CSV Data
			<input type="radio" name="xLogType" value="log" class="configTypeRadio"/>Log File
			<input type="radio" name="xLogType" value="loggly" class="configTypeRadio"/>Loggly
		</div>
		
		<div class="field" id="loggly">

			{{ form.logglySubdomain.errors }}
			<label>Loggly Subdomain:</label>
			{{ form.logglySubdomain }} 
			<div class="cError"><span id="subdomainE" class="cErrorMsg"></span></div>
		</div>
		{% if afLogglySet %}
			<div class="success" id="logglySetMsg">You've previously authorized AfterGlow for the subdomain: <b>{{ afLogglySubdomain }}</b>.loggly.com</div>
		{% endif %}

		<div class="field" id="file">

			{{ form.dataFile.errors }}
			<label>File:</label>
			{{ form.dataFile }} 
			<div class="cError"><span id="dataFileE" class="cErrorMsg"></span></div>

		</div>
		
		<div class="field" id="regEx">

			{{ form.regEx.errors }}
			<label>Reg Ex:</label>
			{{ form.regExType }} <div id="regExInputs">||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			{{ form.regEx }} 
			{{ form.regExChoices }} <a href="#" class="tooltip" title="">?</a>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div id="regDesc"></div>

		</div>
		
		<div class="clear"></div>
		
		<div id="saveRegEx">
			<div class="field">
	
				<label>Save RegEx:</label>
				{{ form.saveRegEx }} <a href="#" class="tooltip" title="">?</a>
	
			</div>
			
			
			<fieldset id="saveRegExDetails">
				
				<legend>RegEx Details:</legend>
				<div class="field">
					<label>Name:</label>
					{{ form.saveRegExName }} <a href="#" class="tooltip" title="">?</a>
					{{ form.saveRegExName.errors }}
				</div>
				
				<div class="field">
					<label>Description:</label>
					{{ form.saveRegExDescription }} <a href="#" class="tooltip" title="">?</a>
					{{ form.saveRegExDescription.errors }}
				</div>
			</fieldset>
		</div>

		<div class="field">

			{{ form.twoNodeMode.errors }}
			<label>Two node mode:</label>
			{{ form.twoNodeMode }} <a href="#" class="tooltip" title="When using data with two columns, this option should be checked.">?</a>

		</div>

		<div id="settingsLabel"> Settings: </div>

		<div id="mainSettings">

			<div class="field"> 

				{{ form.printNodeCount.errors }}
				<label>Print node count:</label>
				{{ form.printNodeCount }} <a href="#" class="tooltip" title="Check to print the number of instances of each node present.">?</a>

			</div>

			<div class="field">

				{{ form.omitLabelling.errors }}
				<label>Omit node labelling:</label>
				{{ form.omitLabelling }} <a href="#" class="tooltip" title="Turns off labelling at the footer.">?</a>

			</div>

			<div class="field">

				{{ form.splitNodes.errors }}
				<label>Split source and target nodes:</label>
				{{ form.splitNodes }} <a href="#" class="tooltip" title="Split source and target as seperate nodes (otherwise same node with two edges).">?</a>

			</div>

			<div class="field">

				{{ form.splitMode.errors }}
				<label>Splitting:</label>
				{{ form.splitMode }} <a href="#" class="tooltip" title="(To add -- an example image).">?</a>

			</div>

			<div class="field">

				{{ form.overrideEdge.errors }}
				{{ form.overrideEdgeLength.errors }}
				<label>Override edge length:</label>
				{{ form.overrideEdge }} &nbsp;&nbsp;&nbsp;&nbsp; 
				{{form.overrideEdgeLength }} <a href="#" class="tooltip" title="Override default edge length">?</a>
				<div class="cError"><span id="overrideEdgeE" class="cErrorMsg"></span></div>
			</div>

			<div class="field">

				{{ form.textLabel.errors }}
				<label>Text label colour:</label>
				{{ form.textLabel }} <a href="#" class="tooltip" title="HEX colour for the text labels used on the graph.">?</a>

			</div>
	   </div>
	   
	   <div id="advancedLabel"> Advanced Settings: </div>

		<div id="advanced">

			<div class="field">

				{{ form.skipLines.errors }}
				<label>Skip Lines:</label>
				{{ form.skipLines }} <a href="#" class="tooltip" title="Skips the specified number of lines from the data-file (say for example, header data).">?</a>
				<div class="cError"><span id="skipLinesE" class="cErrorMsg"></span></div>

			</div>

			<div class="field">

				{{ form.maxLines.errors }}
				<label>Maximum lines:</label>
				{{ form.maxLines }} <a href="#" class="tooltip" title="Maximum number of lines to read from the data-file.">?</a>
				<div class="cError"><span id="maxLinesE" class="cErrorMsg"></span></div>

			</div>

			<div class="field">

				{{ form.omitThreshold.errors }}
				<label>Omit threshold for each node:</label>
				{{ form.omitThreshold }} <a href="#" class="tooltip" title="Omits nodes which occur less than the specified threshold.">?</a>
				<div class="cError"><span id="omitThresholdE" class="cErrorMsg"></span></div>

			</div>

			<div class="field">

				{{ form.sourceFanOut.errors }}
				<label>Source fan out threshold:</label>
				{{ form.sourceFanOut }} <a href="#" class="tooltip" title="Omits nodes which have a lesser number of edges originating from them, than the specified threshold.">?</a>
				<div class="cError"><span id="sourceFanOutE" class="cErrorMsg"></span></div>

			</div>

			<div class="field">

				{{ form.eventFanOut.errors }}
				<label>Event fan out threshold:</label>
				{{ form.eventFanOut }} <a href="#" class="tooltip" title="Omits event nodes which have a lesser number of edges originating form them, than the specified threshold.">?</a>
				<div class="cError"><span id="eventFanOutE" class="cErrorMsg"></span></div>

			</div>
	   </div>

		<div id="configLabel">Configuration: </div>

		<div id="config">

			<div id="alreadyLabel"> Added configurations: </div>

			<div id="alreadyAdded">
				<br/><span id="configPlaceholder">No configurations added. Please use the options below to add any configurations.</span>
				<div id="configHeaders">Type&nbsp;&nbsp;&nbsp; :: Node&nbsp;&nbsp; |&nbsp; [Conditions]</div>
			</div>

			<br/><br/>

			<div id="alreadyAddedHidden"> </div>

			{{ form.propertyConfig }}

			<br/><br/>

			<div id="configType">
				<span id="configTypeText">Config Type:</span>
				<input type="radio" name="xConfigType" checked="checked" value="custom" class="configTypeRadio"/>Custom
				<input type="radio" name="xConfigType" value="manual" class="configTypeRadio"/>Manual
				<a href="#" class="tooltip configTypeRadio" title="Configuration type -- Manual lets you copy/paste the complete configuration file. Custom - choose each line.">?</a>
			</div>

			<br/><br/>

			<div id="manualConfig">

				<textarea rows="10" cols="50" name="xManualConfig" id="xManualConfig"></textarea>

			</div>

			<div id="customConfig">

				<fieldset id="fieldColour">

					<legend>Add: Colour</legend>
					
					<a href="#" class="tooltip configTip" title="Specify a colour configuration for each node type with optional conditions. Adding an 'IF' condition wraps a perl 'if' expression around the condition, while a 'custom' condition can be any perl condition.">?</a>
					
					<div class="field">
						<label>Node:</label>
						<select name="xColourType" id="xColourType">
							<option>Source</option>
							<option>Event</option>
							<option>Target</option>
							<option>Edge</option>
							<option>All Nodes</option>
						</select>
					</div>
					
					<div class="field">
						<label>Colour:</label> <input type="text" name="xColourHEX" id="xColourHEX" />
					</div>
					
					<div class="field"><label><u>Condition</u>:</label></div> <br/><br/>
					
					<input type="radio" name="xColourRadio" id="xColourRadioNone" checked="checked" value="none"/>None<br/>
					
					<div class="field">
						<label><input type="radio" name="xColourRadio" id="xColourRadioIf" value="if"/>IF Condition:</label>
						<input type="text" name="xColourIfCondition" id="xColourIfCondition" />
					</div>
					
					<div class="field">
						<label><input type="radio" name="xColourRadio" id="xColourRadioCustom" value="custom"/>Custom condition:</label>
						<input type="text" name="xColourCustomCondition" id="xColourCustomCondition" />
					</div>
					
					<button name="xColourButton" id="xColourButton" class="addButton"></button>
				</fieldset>

				<fieldset id="fieldThreshold">

					<legend>Add: Threshold Filter</legend>
					
					<a href="#" class="tooltip configTip" title="Specify an omit threshold for any/every type of node. Nodes below the threshold are ignored.">?</a>

					<div class="field">					
						<label>Node:</label> 
						<select name="xThresholdType" id="xThresholdType">
							<option>Source</option>
							<option>Event</option>
							<option>Target</option>
							<option>All</option>
						</select>
					</div>
					
					<div class="field">					
						<label>Threshold:</label>
					 	<input type="text" name="xThresholdSize" id="xThresholdSize" />
					</div>

					<button name="xThresholdButton" id="xThresholdButton" class="addButton"></button>
					<div class="cErrorConfig"><span id="thresholdE" class="cErrorMsg"></span></div>
				</fieldset>

				<div class="clear"></div>
				<br/><br/>

				<fieldset id="fieldSize">

					<legend>Add: Node Sizes</legend>
					
					<a href="#" class="tooltip configTip" title="(To be added).">?</a>

					<div class="field">					
						<label>Node:</label>
						<select name="xSizeType" id="xSizeType">
							<option>Source</option>
							<option>Event</option>
							<option>Target</option>
							<option>All</option>
						</select>
					</div>

					<div class="field"><label><u>Condition</u>:</label></div> <br/><br/>
					
					<div class="field">
						<label><input type="radio" name="xSizeRadio" id="xSizeRadioExp" checked="checked" value="exp"/>Expression:</label>
						<input type="text" name="xSizeCondition" id="xSizeCondition"/>
					</div>
					
					<div class="field">
						<label><input type="radio" name="xSizeRadio" id="xSizeRadioPre value="pre"/>Predefined:</label>
						<select name="xSizePreType" id="xSizePreType">
							<option value="num">Number of occurrences</option>
							<option value="third">Third data column</option>
							<option value="fourth">Fourth data column</option>
						</select>
					</div>

					<button name="xSizeButton" id="xSizeButton" class="addButton"></button>
				</fieldset>

				<fieldset id="fieldGlobals">

					<legend>Add: Global settings</legend>
					
					<a href="#" class="tooltip configTip" title="Global settings for the configurations. These settings once applied will be disabled to input again, since they can be applied only once. The input becomes active again if the respective configuration is removed above.">?</a>

					<div class="field">
						<label>Max node size:</label>
						<input type="text" name="xSizeMaxSize" id="xSizeMaxSize" />
						<button name="xMaxNodeSizeButton" id="xMaxNodeSizeButton" class="addButtonSmall"></button>
					</div>
					
					<div class="cErrorConfig"><span id="maxNodeSizeE" class="cErrorMsg"></span></div>
					
					<div class="field">
						<label>Sum Nodes:</label>
						<select name="xSumType" id="xSumType">
							<option id="xSumOptionSource">Source</option>
							<option id="xSumOptionEvent">Event</option>
							<option id="xSumOptionTarget">Target</option>
						</select>
						<button name="xSumButton" id="xSumButton" class="addButtonSmall"></button>
					</div>

					
				</fieldset>

				<div class="clear"></div>
				<br/><br/>

				<fieldset id="fieldClustering">

					<legend>Add: Clustering</legend>
					
					<a href="#" class="tooltip configTip" title="(To be added).">?</a>

					<div class="field">
						<label>Node:</label>
						<select name="xClusteringType" id="xClusteringType">
							<option>Source</option>
							<option>Event</option>
							<option>Target</option>
							<option>All</option>
						</select>
					</div>
					
					<div class="field"><label><u>Condition</u>:</label></div> <br/><br/>
					
					<div class="field">
						<label><input type="radio" name="xClusteringRadio" id="xClusteringRadioIP" value="ip" checked="checked"/>IP Classes:</label>
						<select name="xClusteringIPType" id="xClusteringIPType">
							<option>Class A</option>
							<option>Class B</option>
							<option>Class C</option>
							<option>Class D</option>
						</select>
					</div>
					
					<div class="field">
						<label><input type="radio" name="xClusteringRadio" id="xClusteringRadioExp" value="exp"/>Expression:</label>
						<input type="text" name="xClusteringCondition" id="xClusteringCondition"/>
					</div>
					
					<button name="xClusteringButton" id="xClusteringButton" class="addButton"></button>
				</fieldset>

				<fieldset id="fieldCustom">

					<legend>Add: Custom Line</legend>
					
					<a href="#" class="tooltip configTip" title="Add any custom line to the configuration page. The lines are parsed as-is.">?</a>

					<input type="text" name="xCustomCondition" id="xCustomCondition"/>
					<button name="xCustomButton" id="xCustomButton" class="addButton"></button>
				</fieldset>

				<div class="clear"></div>
			</div>
		</div>

		<br/><br/>

		<div class="field">

			<label>Save configuration:</label>
			{{ form.saveConfigCookie }} <a href="#" class="tooltip" title="If checked the options chosen in the 'Settings' and 'Advanced settings' tabs are saved as a cookie and retained for four days. AfterGlow will remember your settings if you choose to render a graph again.">?</a>

		</div>
		
		<br/>

		<input type="submit" value="Render" id="xRenderProcess">
	</form>
	
	<div id="xRegExDescriptions">{{ regExDescriptions }}</div>
	
	{% if afLogglySet %}
		<script>afLogglySet = true;</script>
	{% endif %}

{% endblock %}
