{% extends "base.html" %}

{% block title %}
	Rendered Graph - Afterglow
{% endblock %}

{% block extra_head %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/render.js"></script>
{% endblock %}

{% block body %}

	{% if retVal %}
	
		<center>
		<div class="cRenderError">
		<span class="cErrorMsg">
		
		{% ifequal retVal 1 %}
				Error: An invalid regular expression has been input which does not match one or more lines in the given file.
		{% endifequal %}
		
		{% ifequal retVal 2 %}
				Error: An invalid regular expression has been input which does not generate the required groupings for the file given to parse.
		{% endifequal %}
		
		{% ifequal retVal 3 %}
				Error: An invalid regular expression has been input which does not generate the required groupings for the file given to parse. Please remember to check "Two Node Mode" on the settings pane; if you are attemping to parse a two column CSV file.
		{% endifequal %}
		
		<br/><br/>
		Please try <a href="process" title="Back">again</a>.
		
		</span>
		</div>
		</center> 
		
	{% elif emptyData %}
		<center>
			<span id="error">
				Your search returned no data for AfterGlow to parse. Please try again.
			</span>
			<a href="/search">Try Again</a>
		</center>
	{% else %}

		{% if not status %}
		
			{% if form.errors %}
				<div class="errorMsg">
					Please correct the error{{ form.errors|pluralize }} below.
				</div>
			{% endif %}
			
			<center>
				<a href="#" id="galleryFormLink" alt="">Submit your image to the gallery!</a>
			</center>
			
			<br/><br/>
			
			<form enctype="multipart/form-data" method="post" action="gallery-submit" id="gallerySubmitForm">
				{% csrf_token %}
				
				<div class="field">
					{{ form.name.errors }}
					<label>Name:</label>
					{{ form.name }}
				</div>
				
				<div class="field">
					{{ form.description.errors }}
					<label>Description:</label>
					{{ form.description }}
				</div>
				
				<div class="field">
					{{ form.author.errors }}
					<label>Author:</label>
					{{ form.author }}
				</div>
				
				<div class="field">
					<label>&nbsp;</label>
					<script type="text/javascript" src="http://api.recaptcha.net/challenge?k={{ CAPTCHA_PUBLIC_KEY }}"></script>
				</div>		
		
				<noscript>  
					<iframe src="http://api.recaptcha.net/noscript?k={{ CAPTCHA_PUBLIC_KEY }}" height="300" width="500" frameborder="0"></iframe>
					<br/>  
					<textarea name="recaptcha_challenge_field" rows="3" cols="40">  
					</textarea>  
					<input type="hidden" name="recaptcha_response_field" value="manual_challenge">  
				</noscript>
		
				{% if captchaWrong %}
					<div class="errorMsg">
						Your captcha input is wrong. Please try again.		
					</div>
				{% endif %}
				
				{{ form.image }}
				
				
				<input type="submit" value="Submit" id="xContactProcess">
			</form>
			
			<br/><br/>
	
			<b>Rendered Graph</b>:
			<center>
				<a href="process" title="Back">Render another graph</a><br/><br/>
				<img src="{{ STATIC_URL }}rendered/{{ requestID }}.gif" alt="" id="outputImage"/>
			</center>
		
		{% else %}
	
			<center>
			<div class="cRenderError"><span class="cErrorMsg">
	
			{% ifequal status 1 %}
				Error: Could not create an output image (1).
			{% endifequal %}
	
			{% ifequal status 2 %}
		    Error: Data file does not exist (2).
		{% endifequal %}
		
		{% ifequal status 3 %}
		    Error: Property file does not exist (3).
		{% endifequal %}
		
		{% ifequal status 4 %}
		    Fatal: Perl is not installed. (4).
		{% endifequal %}
		
		{% ifequal status 5 %}
		    Fatal: Neato is not installed (5).
		{% endifequal %}
		
		{% ifequal status 6 %}
		    Error: Could not find afterglow instance (6).
		{% endifequal %}
		
		</span></div></center>        
		
	    {% endif %}  
	    
	{% endif %} 
	
	{% if submitError %}
		<script>$('#gallerySubmitForm').show();</script>
	{% endif %}
        
{% endblock %}
