body{
	background: #3F4C6B;
	color: #fff;
	font-size: 14px;
	font-family: Georgia, serif;
	margin-top: 15px;
	margin-left: 25px;
}

label {
	font-size: 17px;
	font-variant: small-caps;
	width: 15%;
	float: left;
}

a:link, a:visited{
	color: #A4A400;
}

a:hover{
	text-decoration: none;
}

.field{
	margin-bottom: 15px;
}

#settingsLabel, #advancedLabel, #configLabel, #alreadyLabel{
	font-size: 19px;
	font-variant: small-caps;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 10px;
}

#alreadyLabel{
	font-size: 18px !important;
	text-decoration: none !important;
}

#mainSettings, #advanced, #config{
	margin-left: 50px;
	display: none;
}

#mainSettings label, #advanced label{
	width: 20%;
	font-variant: normal;
}

#id_overrideEdgeLength{
	display: none;
}

#fieldColour{
	width: 500px;
}

#fieldSize{
	width: 700px;
	float: left;
}

#fieldThreshold{
	width: 350px;
}

#fieldClustering{
	width: 400px;
	float: left;
}

#fieldCustom{
	width: 400px;
}
.clear{
	clear: both;
}